body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #2d3436;
    color: #ffffff;
    height: 100vh;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
}

.sidebar a:hover {
    background-color: #344955;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
    flex: 1;
    margin-top: 60px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.btn {
    background-color: #4c54af;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #45a049;
}

.btn-danger {
    background-color: #f44336;
}

.btn-danger:hover {
    background-color: #da190b;
}

.success-msg {
    color: rgb(24, 170, 24);
    font-weight: bold;
    margin-bottom: 15px;
}