body, html {
  font-family: 'Arial', sans-serif;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

button {
  cursor: pointer;
  border: none;
}

.sub-header {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../images/Available_courses.jpg);
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 70px 20px;
}

.sub-header h1 {
  font-size: 3rem;
  margin: 20px 0;
}

.sub-header button {
  font-size: 18px;
  padding: 15px 30px;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.sub-header button:first-child {
  background-color: #28a745;
}

.sub-header button:first-child:hover {
  background-color: #218838;
  transform: scale(1.05);
}

.sub-header button:last-child {
  background-color: #007bff;
}

.sub-header button:last-child:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  font-size: 13px;
  color: #ffffff;
}

.nav-links ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.fa-bars, .fa-times {
  font-size: 24px;
  display: none;
}

.menu {
  padding: 50px 20px;
  background-color: #fff;
}

.menu-category {
  margin-bottom: 40px;
}

.menu-category h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.menu-items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.menu-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 200px;
  height: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.menu-item:hover {
  transform: translateY(-10px);
}

.menu-item img {
  width: 160px;
  height: 160px;
  border-radius: 10px;
  object-fit: cover;
  margin: 0 auto 10px;
}

.menu-item p {
  margin: 10px 0;
  font-size: 1.2rem;
  color: #333;
}

.footer {
  background-color: white;
  color: black;
  text-align: center;
  padding: 20px 0;
}

.footer h4 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.footer .icons {
  margin-top: 10px;
}

.footer .icons i {
  color: black;
  margin: 0 10px;
  cursor: pointer;
  transition: color 0.3s;
}

.footer .icons i:hover {
  color: #f1c40f;
}

@media (max-width: 768px) {
  .nav-links ul {
    flex-direction: column;
    position: fixed;
    background-color: #333;
    width: 100%;
    height: 100vh;
    top: 0;
    left: -100%;
    transition: all 0.3s ease;
    text-align: center;
  }

  .nav-links ul li {
    margin: 50px 0;
  }

  .fa-bars {
    display: block;
  }

  .nav-links.show {
    left: 0;
  }

  .menu-items {
    flex-direction: column;
  }

  .menu-item {
    width: 100%;
  }
}
